USE [master]
GO
/****** Object:  Database [GercekZamanli]    Script Date: 21.12.2017 11:30:50 ******/
CREATE DATABASE [GercekZamanli]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GercekZamanli', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\GercekZamanli.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GercekZamanli_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\GercekZamanli_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GercekZamanli].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GercekZamanli]
GO
USE [GercekZamanli]
GO
/****** Object:  Table [dbo].[aydinlatma]    Script Date: 21.12.2017 11:30:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[aydinlatma](
	[id] [tinyint] IDENTITY(1,1) NOT NULL,
	[kAdi] [nvarchar](20) NULL,
	[oda1_Deger] [nvarchar](20) NULL,
	[oda2_Deger] [nvarchar](20) NULL,
	[durum_1] [nvarchar](20) NULL,
	[durum_2] [nvarchar](20) NULL,
	[tarih] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[gaz]    Script Date: 21.12.2017 11:30:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[gaz](
	[id] [tinyint] IDENTITY(1,1) NOT NULL,
	[kAdi] [nvarchar](20) NULL,
	[durum] [nvarchar](1) NULL,
	[zaman] [datetime] NULL,
	[olculenDeger] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[kullanicilar]    Script Date: 21.12.2017 11:30:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[kullanicilar](
	[id] [tinyint] IDENTITY(1,1) NOT NULL,
	[kAdi] [nvarchar](20) NULL,
	[kSifre] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sicaklik]    Script Date: 21.12.2017 11:30:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sicaklik](
	[id] [tinyint] IDENTITY(1,1) NOT NULL,
	[kAdi] [nvarchar](20) NULL,
	[zaman] [datetime] NULL,
	[olculenDeger] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
